

.bgoter{
    height: 50vh;
}

.color-dropdown {
    padding: 8px 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 50px;
    float: right;
}

.color-picker {
    margin-top: 20px;
    padding: 5px;
    border: none;
    cursor: pointer;
}
