ul{
    display: flex;
    gap: 40px ;
    font-size:30px;
    list-style: none;
    justify-content: center;
}

  ul  a:active{
    background-color: red;
    color: white;

}
a {
    text-decoration: none;
    color: black;
}
h3{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nested{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
   
}
